<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css">
    <title>Механа "Наздраве" - Промяна на продукт</title>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
</head>
<body>
<nav th:replace="~{fragments/commons :: navbar}"></nav>
<div class="container mt-4 col-md-4">
    <h2>Промяна на продукт</h2>
    <form th:action="@{/edit-product/{id} (id=${updateProductDto.id})}" th:object="${updateProductDto}" method="post" class="update-product-form">
        <div class="form-group">
            <label for="name">Име</label>
            <input type="text" class="form-control" id="name" th:field="*{name}">
            <small th:if="${#fields.hasErrors('name')}"
                   th:errors="*{name}"
                   th:text="${#fields.errors('name')}"
                   class="danger"></small>
        </div>
        <div class="form-group">
            <label for="nameEng">Име на английски</label>
            <input type="text" class="form-control" id="nameEng" th:field="*{nameEng}">
            <small th:if="${#fields.hasErrors('nameEng')}"
                   th:errors="*{nameEng}"
                   th:text="${#fields.errors('nameEng')}"
                   class="danger"></small>
        </div>
        <div class="form-group">
            <div>
                <label th:for="type">Категория</label>
            </div>
            <select th:field="*{type}" class="browser-default custom-select" id="type" th:name="${type}">
                <option th:each="t: ${T(com.softuni.mehana.model.enums.ProductTypeEnum).values()}"
                        th:value="${t}"
                        th:text="${t}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="price">Цена</label>
            <input type="number" step="0.01" class="form-control" id="price" th:field="*{price}">
            <small th:if="${#fields.hasErrors('price')}"
                   th:errors="*{price}"
                   th:text="${#fields.errors('price')}"
                   class="danger"></small>
        </div>
        <div class="form-group">
            <label for="imageUrl">Линк към снимка</label>
            <input type="text" class="form-control" id="imageUrl" th:field="*{imageUrl}">
            <small th:if="${#fields.hasErrors('imageUrl')}"
                   th:errors="*{imageUrl}"
                   th:text="${#fields.errors('imageUrl')}"
                   class="danger"></small>
        </div>
        <a th:href="@{/menu}" class="btn btn-primary">Назад към менюто</a>
        <button type="submit" class="btn btn-primary">Запази промените</button>
    </form>
</div>
<footer th:replace="~{fragments/commons :: footer}"></footer>
</body>
</html>
