spring:
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  servlet:
    multipart:
      max-file-size: 1MB
      max-request-size: 5MB

  mvc:
    hiddenmethod:
      filter:
        enabled: true

  sql:
    init:
      mode: always

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: false
    defer-datasource-initialization: true

  thymeleaf:
    check-template-location: true
    cache: true

server:
  port: ${PORT:8080}
  error:
    whitelabel:
      enabled: false



orders:
  api:
    baseUrl: ${OFFERS_BASE_URL}

jwt:
  secret: ${JWT_KEY}
  expiration: ${JWT_EXPIRATION:3600000}