body {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(84, 91, 98, 0.5), rgba(84, 91, 98, 0.3)), url(/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

.navbar-brand {
    font-size: xx-large !important;
}

.hero-section {
    margin-top: 50px;
}

.menu-section {
    margin-top: 50px;
}
.card img {
    height: 200px;
    object-fit: cover;
}
.card-body {
    text-align: center;
    color: #0b2e13;
}
.nav-tabs .nav-link {
    color: #495057;
}
.nav-tabs .nav-link.active {
    background-color: #f8f9fa;
}

.quantity-input {
    width: 50px;
    text-align: center;
}

#login-error {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: transparent;
    color: red;
    font-weight: bold;
}

.about-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.card-img-top {
    object-fit: cover;
    object-position: center;
}

.review-name {
    position: absolute;
    bottom: 0;
}

.review-card {
    height: 135px;
}

.menu-card {
    margin-top: 15px;
    margin-bottom: 15px;
}



