body {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(84, 91, 98, 0.5), rgba(84, 91, 98, 0.3)), url(/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

.navbar-brand {
    font-size: xx-large !important;
}

.hero-section {
    margin-top: 50px;
}

.menu-section {
    margin-top: 30px;
}
.card img {
    height: 200px;
    object-fit: cover;
}
.card-body {
    text-align: center;
    color: #0b2e13;
}
.nav-tabs .nav-link {
    color: #495057;
}
.nav-tabs .nav-link.active {
    background-color: #f8f9fa;
}

.quantity-input {
    width: 50px;
    text-align: center;
}

#login-error {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: transparent;
    color: red;
    font-weight: bold;
}

.about-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.card-img-top {
    object-fit: cover;
    object-position: center;
}

.review-name {
    position: absolute;
    bottom: 0;
    height: 5px;
}

.review-card {
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu-card {
    margin-top: 15px;
    margin-bottom: 15px;
}

.pass-not-match {
    margin-bottom: 15px;
}

#checkout {
    width: 270px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#clear-cart {
    width: 270px;
    margin-bottom: 15px;
}

.checkout-buttons {
    margin-top: 20px;
    margin-bottom: 20px;
}

.admin-actions {
    margin-top: 20px;
}

.admin-button {
    margin-right: 15px;
    margin-left: 15px;
}

.about-container {
    margin-top: 40px;
}

.gallery-card {
    margin-top: 15px;
    margin-bottom: 15px;
}

#menuTabs {
    margin-top: 25px;
}

.add-product-button {
    margin-top: 25px;
}

.login-form {
    margin-top: 20px;
}

.registration-form {
    margin-top: 20px;
}

.checkout-price {
    font-size: 30px;
}

.order-summary {
    margin-top: 25px;
}

.checkout-table {
    margin-top: 25px;
}

.order-description {
    margin-top: 40px;
}

.order-message {
    margin-top: 40px;
}

.order-image {
    margin-top: 30px;
}

.order-hist-btn {
    margin-top: 15px;
}

.error-message {
    margin-top: 40px;
}

.error-image {
    margin-top: 20px;
}

.error-btn {
    margin-top: 25px;
}

.update-product-form {
    margin-top: 25px;
}

.add-product-form {
    margin-top: 25px;
}

#order-history-btn {
    margin-bottom: 15px;
}

.order-history-table {
    margin-top: 25px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.footer-line {
    background-color: white;
}

.reviews {
    margin-bottom: 20px;
}

#lang {
    margin-top: 7px;
}

.notification-popup {
    animation: slideIn 0.3s ease-out;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.menu-card {
    margin-bottom: 15px;
}

@keyframes slideIn {
    from {
        transform: translateX(400px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

