<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
    <meta charset="UTF-8">
    <title>За нас</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<nav th:replace="~{fragments/commons :: navbar}"></nav>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>За нас</h1>
            <p class="lead">
                Ресторантът, в който може да намерите вкусни ястия и добро обслужване в приятна и уютна обстановка
                или да поръчате храна за вкъщи с бърза доставка.
                Подходящо място за веселба с повод и без повод, семеен празник, приятелска вечеря, бизнес среща,
                фирмено парти или сватбени тържества.

                Битово заведение със собствен стил, което разполага със 120 места.
                Менюто е богато – приготвят се всякакви традиционни ястия от българската кухня!
            </p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4 text-center">
            <img src="/images/about/chef.jpg" class="img-fluid rounded about-image" alt="Placeholder Image 1">
            <h3 class="mt-2">Нашите готвачи</h3>
            <p>Екипът ни се състои от опитни и ентусиазирани готвачи, които влагат старание и отговорност
                в ежедневната си работа, за да угодят и на най-взискателните ни клиенти.</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="/images/about/products.jpg" class="img-fluid rounded about-image" alt="Placeholder Image 2">
            <h3 class="mt-2">Продуктите</h3>
            <p>Използваме само свежи и качествени продукти от подбрани български и чужди производители,
                с всички необходими сертификати за екологичност и качество.</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="/images/about/ambience.png" class="img-fluid rounded about-image" alt="Placeholder Image 3">
            <h3 class="mt-2">Атмосферата</h3>
            <p>Насладете се на типичната българска атмосфера, музика и декор, които по перфектен начин
            допълват насладата от вкусните гозби, приготвени с любов.</p>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
