<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<nav th:replace="~{fragments/commons :: navbar}"></nav>
<div class="container mt-4">
    <h1>Количка</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Продукт</th>
            <th>Количество</th>
            <th>Цена</th>
            <th>Цена - общо</th>
            <th class="text-right">Действия&nbsp;&nbsp;</th>
        </tr>
        </thead>
        <tbody th:if="${price > 0}">
        <tr th:each="item : ${cartItems}">
            <td th:text="${item.getProduct().name}">Product Name</td>
            <td th:text="${item.quantity}">Quantity</td>
            <td th:text="${item.price}">Price</td>
            <td th:text="${item.totalPrice}">Total</td>
            <td>
                <form th:action="@{/cart/remove/{id} (id = ${item.getId()})}" th:method="delete" class="text-right">
                    <input type="hidden" name="_method" value="delete" />
                    <button type="submit" id="delete" class="btn-danger btn">Remove</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="text-right">
        <form th:action="@{/cart/remove/all}" th:method="delete" th:if="${price > 0}">
            <input type="hidden" name="_method" value="delete" />
            <button type="submit" id="clear-cart" class="btn-danger btn">Изпразни количката</button>
        </form>
        <h3>Крайна цена: <span th:text="${price}"></span> лв.</h3>
        <a type="submit" id="checkout" class="btn btn-success"
                th:href="@{/checkout}" th:method="get" th:if="${price > 0}">Към завършване на поръчката</a>
    </div>
</div>

<div th:if="${price == 0}">
    <h5 class="text-center">Количката Ви е празна!</h5>
</div>

</body>
</html>
