<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css">
    <title>Механа "Наздраве" - Контакти</title>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
</head>
<body>
<nav th:replace="~{fragments/commons :: navbar}"></nav>
<div class="container mt-12 about-container" style="width: 800px">
    <div class="row main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <h1 class="text-center">За връзка с нас</h1>
        <p></p>
        <p><strong>Адрес:</strong> гр. София, жк. Младост 1, до пазара</p>
        <p><strong>Телефон:</strong> +359 888 123 123</p>
        <p><strong>Email:</strong> mehana@nazdrave.com</p>
        <p></p>
    </div>
    <div class="row main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <h2 class="text-center">Как да ни откриете</h2>
        <p></p>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d211.89527638545576!2d23.3734603726445!3d42.651824417729145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sbg!2sbg!4v1722029968754!5m2!1sbg!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/commons :: footer}"></footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
