<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css">
    <title>Опааа...</title>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
</head>
<body>
<nav th:replace="~{fragments/commons :: navbar}"></nav>
<div class="error-container text-center">
<!--    <h1 class="error-code">404</h1>-->
    <h3 class="error-message">Опааа... Нещо се обърка!</h3>
    <img src="/images/fail.png" alt="Funny error image" class="funny-image error-image" width="450px">
    <div>
        <a href="/" class="btn btn-primary home-button error-btn">Към главната страница</a>
    </div>
</div>
<footer th:replace="~{fragments/commons :: footer}"></footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
