<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <title>Механа "Наздраве"</title>
</head>
<body>
<nav th:replace="~{fragments/commons :: navbar}"></nav>

<!-- Hero Section -->
<div class="hero-section text-center">
    <h1>Добре дошли в нашата механа!</h1>
    <p>Насладете се на вкусните ни гозби!</p>
</div>

<!-- Featured Dishes -->
<div class="container mt-5">
    <h2 class="text-center">Промоции</h2>
    <div class="row">
        <div class="col-md-4" th:each="p : ${promotions}"  th:if="${p.product.isEnabled()}">
            <div class="card">
                <img th:src="*{p.getProduct().imageUrl}" th:alt="*{p.getProduct().nameEng}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title" th:text="*{p.getProduct().name}"></h5>
                    <h5 class="card-title" th:text="*{p.getProduct().nameEng}"></h5>
                    <p class="card-text text-success"><strong><del th:text="*{p.getProduct().price}" class="text-danger"></del>
                        <span th:text="*{#numbers.formatDecimal(p.getProduct().promoPrice, 0, 'COMMA', 2, 'POINT')}"></span>
                        лв.</strong></p>
                    <form
                       th:method="post"
                       th:action="@{/cart/add}">
                        <div class="d-flex justify-content-center">
                            <input type="hidden" name="productId" th:value="${p.getProduct().id}">
                            <input type="number" class="form-control quantity-input" name="quantity" value="1" min="1">
                            <button class="btn btn-primary ml-2">Добави в количката</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Testimonials -->
<div class="container mt-5">
    <h2 class="text-center">Какво казват клиентите ни</h2>
    <div class="row">
        <div class="col-md-4 review-card">
            <div class="testimonial">
                <p class="font-italic">"Страхотна обстановка и много вкусна храна! Препоръчвам!"</p>
                <h5 class="review-name">- Иван Добрев</h5>
            </div>
        </div>
        <div class="col-md-4 review-card">
            <div class="testimonial">
                <p class="font-italic">"Прекарахме си прекрасна вечер в Механа "Наздраве"! Всичко беше на ниво - обслужване, обстановка, меню! Пак ще посетим задължително!"</p>
                <h5 class="review-name">- Христина Митова</h5>
            </div>
        </div>
        <div class="col-md-4 review-card">
            <div class="testimonial">
                <p class="font-italic">"Благодарим за вкусната храна и доброто обслужване! Очаровани сме!"</p>
                <h5 class="review-name">- Теодора Петкова</h5>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>


