<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css">
    <title th:text="#{login_head_title}">Механа "Наздраве" - Вход</title>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
</head>
<body>
<nav th:replace="~{fragments/commons :: navbar}"></nav>


<div class="container mt-lg-5" style="width: 300px">
    <h1 class="text-center" th:text="#{login_text}">Вход</h1>

    <div th:if="${param.error}" class="alert-danger danger" id="login-error"  th:text="#{login_error}">
        Невалидно потребителско име или парола
    </div>

    <form th:action="@{/user/login(returnUrl=${returnUrl})}" th:method="post" class="login-form">
        <div class="form-group">
            <label for="username" th:text="#{login_username}">Потребителско име</label>
            <input type="text" class="form-control" id="username" name="username" >

        </div>
        <div class="form-group">
            <label for="password" th:text="#{login_password}">Парола</label>
            <input type="password" class="form-control" id="password" name="password">

        </div>

        <button type="submit" class="btn btn-primary" th:text="#{login_text}">Вход</button>
    </form>
    <p></p>
    <a type="submit" id="register_from_login" class="btn"
       th:href="@{/register}" th:method="get" th:text="#{register_from_login_page}>Нямате профил? Регистрирайте се тук</a>
</div>





<footer th:replace="~{fragments/commons :: footer}"></footer>
</body>
</html>