<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
    <meta charset="UTF-8">
    <title>Login - Restaurant</title>
</head>
<body>
<nav th:replace="~{fragments/commons :: navbar}"></nav>
<div class="container mt-lg-5" style="width: 300px">
    <h1>Login</h1>
    <form th:action="@{/user/login}" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
</body>
</html>