<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/commons::head}">
    <meta charset="UTF-8">
    <title>Menu - My Restaurant</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <style>
        .menu-section {
            margin-top: 50px;
        }
        .card img {
            height: 200px;
            object-fit: cover;
        }
        .card-body {
            text-align: center;
        }
        .nav-tabs .nav-link {
            color: #495057;
        }
        .nav-tabs .nav-link.active {
            background-color: #f8f9fa;
        }
        .quantity-input {
            width: 50px;
            text-align: center;
        }
    </style>
</head>
<body>
<nav th:replace="~{fragments/commons :: navbar}"></nav>

<div class="container menu-section">
    <h1 class="text-center">Нашето меню</h1>
    <h5 class="text-center">Вкусни български гозби</h5>
    <ul class="nav nav-tabs justify-content-center" id="menuTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active text-success font-weight-bold" id="starters-tab" data-toggle="tab" href="#starters" role="tab" aria-controls="starters" aria-selected="true">Салати и предястия</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-success font-weight-bold" id="soups-tab" data-toggle="tab" href="#soups" role="tab" aria-controls="soups" aria-selected="false">Супи</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-success font-weight-bold" id="main-courses-tab" data-toggle="tab" href="#main-courses" role="tab" aria-controls="main-courses" aria-selected="false">Основни ястия</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-success font-weight-bold" id="bread-tab" data-toggle="tab" href="#bread" role="tab" aria-controls="bread" aria-selected="false">Хляб</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-success font-weight-bold" id="desserts-tab" data-toggle="tab" href="#desserts" role="tab" aria-controls="desserts" aria-selected="false">Десерти</a>
        </li>

    </ul>
    <div class="tab-content" id="menuTabsContent">
        <div class="tab-pane fade show active" id="starters" role="tabpanel" aria-labelledby="starters-tab">
            <div class="row mt-4">
                <div class="col-md-4" th:each="p: ${starters}" th:if="${p.isEnabled()}">
                    <div class="card menu-card">
                        <img th:src="*{p.imageUrl}" class="card-img-top" th:alt="*{p.nameEng}">
                        <div class="card-body">
                            <h5 class="card-title" th:text="*{p.name}"></h5>
                            <h5 class="card-title" th:text="*{p.nameEng}"></h5>
                            <p class="card-text" th:if="${!p.isOnPromotion}"><strong><span th:text="*{p.price}"></span> лв.</strong></p>
                            <p class="card-text text-success" th:if="${p.isOnPromotion}"><strong>ПРОМО ЦЕНА: <del th:text="*{p.price}" class="text-danger"></del>
                                <span th:text="*{#numbers.formatDecimal(p.promoPrice, 0, 'COMMA', 2, 'POINT')}"></span>
                                лв.</strong></p>
                            <form
                                    th:method="post"
                                    th:action="@{/cart/add}">
                                <div class="d-flex justify-content-center">
                                    <input type="hidden" name="productId" th:value="${p.id}">
                                    <input type="number" class="form-control quantity-input" name="quantity" value="1" min="1">
                                    <button class="btn btn-primary ml-2">Добави в количката</button>
                                </div>

                            </form>
                            <div class="admin-actions" sec:authorize="hasRole('ADMIN')">
                                <form th:action="@{/disable-product/{id} (id=${p.id})}" th:method="post" class="text-center">
                                    <a th:href="@{/edit-product/{id} (id=${p.id})}" th:method="get" class="admin-button btn-primary btn"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <input type="hidden" name="_method" value="disable" />
                                    <button type="submit" id="disable1" class="btn-danger btn"><i class="fa-solid fa-trash"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="soups" role="tabpanel" aria-labelledby="soups-tab">
            <div class="row mt-4">
                <div class="col-md-4" th:each="p: ${soups}" th:if="${p.isEnabled()}">
                    <div class="card menu-card">
                        <img th:src="*{p.imageUrl}" class="card-img-top" th:alt="*{p.nameEng}">
                        <div class="card-body">
                            <h5 class="card-title" th:text="*{p.name}"></h5>
                            <h5 class="card-title" th:text="*{p.nameEng}"></h5>
                            <p class="card-text"><strong><span th:text="*{p.price}"></span> лв.</strong></p>
                            <form
                                    th:method="post"
                                    th:action="@{/cart/add}">
                                <div class="d-flex justify-content-center">
                                    <input type="hidden" name="productId" th:value="${p.id}">
                                    <input type="number" class="form-control quantity-input" name="quantity" value="1" min="1">
                                    <button class="btn btn-primary ml-2">Добави в количката</button>
                                </div>

                            </form>
                            <div class="admin-actions" sec:authorize="hasRole('ADMIN')">
                                <form th:action="@{/disable-product/{id} (id=${p.id})}" th:method="post" class="text-center">
                                    <a th:href="@{/edit-product/{id} (id=${p.id})}" th:method="get" class="admin-button btn-primary btn"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <input type="hidden" name="_method" value="disable" />
                                    <button type="submit" id="disable2" class="btn-danger btn"><i class="fa-solid fa-trash"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="main-courses" role="tabpanel" aria-labelledby="main-courses-tab">
            <div class="row mt-4">
                <div class="col-md-4" th:each="p: ${main}" th:if="${p.isEnabled()}">
                    <div class="card menu-card">
                        <img th:src="*{p.imageUrl}" class="card-img-top" th:alt="*{p.nameEng}">
                        <div class="card-body">
                            <h5 class="card-title" th:text="*{p.name}"></h5>
                            <h5 class="card-title" th:text="*{p.nameEng}"></h5>
                            <p class="card-text" th:if="${!p.isOnPromotion}"><strong><span th:text="*{p.price}"></span> лв.</strong></p>
                            <p class="card-text text-success" th:if="${p.isOnPromotion}"><strong>ПРОМО ЦЕНА: <del th:text="*{p.price}" class="text-danger"></del>
                                <span th:text="*{#numbers.formatDecimal(p.promoPrice, 0, 'COMMA', 2, 'POINT')}"></span>
                                лв.</strong></p>
                            <form
                                    th:method="post"
                                    th:action="@{/cart/add}">
                                <div class="d-flex justify-content-center">
                                    <input type="hidden" name="productId" th:value="${p.id}">
                                    <input type="number" class="form-control quantity-input" name="quantity" value="1" min="1">
                                    <button class="btn btn-primary ml-2">Добави в количката</button>
                                </div>

                            </form>
                            <div class="admin-actions" sec:authorize="hasRole('ADMIN')">
                                <form th:action="@{/disable-product/{id} (id=${p.id})}" th:method="post" class="text-center">
                                    <a th:href="@{/edit-product/{id} (id=${p.id})}" th:method="get" class="admin-button btn-primary btn"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <input type="hidden" name="_method" value="disable" />
                                    <button type="submit" id="disable3" class="btn-danger btn"><i class="fa-solid fa-trash"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="bread" role="tabpanel" aria-labelledby="bread-tab">
            <div class="row mt-4">
                <div class="col-md-4" th:each="p: ${bread}" th:if="${p.isEnabled()}">
                    <div class="card">
                        <img th:src="*{p.imageUrl}" class="card-img-top" th:alt="*{p.nameEng}">
                        <div class="card-body">
                            <h5 class="card-title" th:text="*{p.name}"></h5>
                            <h5 class="card-title" th:text="*{p.nameEng}"></h5>
                            <p class="card-text"><strong><span th:text="*{p.price}"></span> лв.</strong></p>
                            <form
                                    th:method="post"
                                    th:action="@{/cart/add}">
                                <div class="d-flex justify-content-center">
                                    <input type="hidden" name="productId" th:value="${p.id}">
                                    <input type="number" class="form-control quantity-input" name="quantity" value="1" min="1">
                                    <button class="btn btn-primary ml-2">Добави в количката</button>
                                </div>

                            </form>
                            <div class="admin-actions" sec:authorize="hasRole('ADMIN')">
                                <form th:action="@{/disable-product/{id} (id=${p.id})}" th:method="post" class="text-center">
                                    <a th:href="@{/edit-product/{id} (id=${p.id})}" th:method="get" class="admin-button btn-primary btn"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <input type="hidden" name="_method" value="disable" />
                                    <button type="submit" id="disable4" class="btn-danger btn"><i class="fa-solid fa-trash"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="desserts" role="tabpanel" aria-labelledby="desserts-tab">
            <div class="row mt-4">
                <div class="col-md-4" th:each="p: ${desserts}" th:if="${p.isEnabled()}">
                    <div class="card menu-card">
                        <img th:src="*{p.imageUrl}" class="card-img-top" th:alt="*{p.nameEng}">
                        <div class="card-body">
                            <h5 class="card-title" th:text="*{p.name}"></h5>
                            <h5 class="card-title" th:text="*{p.nameEng}"></h5>
                            <p class="card-text" th:if="${!p.isOnPromotion}"><strong><span th:text="*{p.price}"></span> лв.</strong></p>
                            <p class="card-text text-success" th:if="${p.isOnPromotion}"><strong>ПРОМО ЦЕНА: <del th:text="*{p.price}" class="text-danger"></del>
                                <span th:text="*{#numbers.formatDecimal(p.promoPrice, 0, 'COMMA', 2, 'POINT')}"></span>
                                лв.</strong></p>
                            <form
                                    th:method="post"
                                    th:action="@{/cart/add}">
                                <div class="d-flex justify-content-center">
                                    <input type="hidden" name="productId" th:value="${p.id}">
                                    <input type="number" class="form-control quantity-input" name="quantity" value="1" min="1">
                                    <button class="btn btn-primary ml-2">Добави в количката</button>
                                </div>
                            </form>
                            <div class="admin-actions" sec:authorize="hasRole('ADMIN')">

                                <form th:action="@{/disable-product/{id} (id=${p.id})}" th:method="post" class="text-center">
                                    <a th:href="@{/edit-product/{id} (id=${p.id})}" th:method="get" class="admin-button btn-primary btn"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <input type="hidden" name="_method" value="disable" />
                                    <button type="submit" id="disable5" class="btn-danger btn"><i class="fa-solid fa-trash"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    // Save the active tab to localStorage
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        localStorage.setItem('activeTab', $(e.target).attr('href'));
    });

    // Load the active tab from localStorage
    var activeTab = localStorage.getItem('activeTab');
    if (activeTab) {
        $('#menuTabs a[href="' + activeTab + '"]').tab('show');
    }
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>


