<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
    <meta charset="UTF-8">
    <title>Menu - My Restaurant</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <style>
        .menu-section {
            margin-top: 50px;
        }
        .card img {
            height: 200px;
            object-fit: cover;
        }
        .card-body {
            text-align: center;
        }
        .nav-tabs .nav-link {
            color: #495057;
        }
        .nav-tabs .nav-link.active {
            background-color: #f8f9fa;
        }
        .quantity-input {
            width: 50px;
            text-align: center;
        }
    </style>
</head>
<body>
<nav th:replace="~{fragments/commons :: navbar}"></nav>

<div class="container menu-section">
    <h1 class="text-center">Our Menu</h1>
    <p class="text-center">Explore our wide variety of dishes</p>
    <ul class="nav nav-tabs justify-content-center" id="menuTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="starters-tab" data-toggle="tab" href="#starters" role="tab" aria-controls="starters" aria-selected="true">Салати и предястия</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="soups-tab" data-toggle="tab" href="#soups" role="tab" aria-controls="soups" aria-selected="false">Супи</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="main-courses-tab" data-toggle="tab" href="#main-courses" role="tab" aria-controls="main-courses" aria-selected="false">Основни ястия</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="bread-tab" data-toggle="tab" href="#bread" role="tab" aria-controls="bread" aria-selected="false">Хляб</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="desserts-tab" data-toggle="tab" href="#desserts" role="tab" aria-controls="desserts" aria-selected="false">Десерти</a>
        </li>

    </ul>
    <div class="tab-content" id="menuTabsContent">
        <div class="tab-pane fade show active" id="starters" role="tabpanel" aria-labelledby="starters-tab">
            <div class="row mt-4">
                <div class="col-md-4" th:each="p: ${starters}">
                    <div class="card menu-card">
                        <img th:src="*{p.imageUrl}" class="card-img-top" th:alt="*{p.nameEng}">
                        <div class="card-body">
                            <h5 class="card-title" th:text="*{p.name}"></h5>
                            <h5 class="card-title" th:text="*{p.nameEng}"></h5>
                            <p class="card-text"><strong><span th:text="*{p.price}"></span> лв.</strong></p>
                            <div class="d-flex justify-content-center">
                                <input type="number" class="form-control quantity-input" value="1" min="1">
                                <button class="btn btn-primary ml-2">Добави в количката</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="soups" role="tabpanel" aria-labelledby="soups-tab">
            <div class="row mt-4">
                <div class="col-md-4" th:each="p: ${soups}">
                    <div class="card menu-card">
                        <img th:src="*{p.imageUrl}" class="card-img-top" th:alt="*{p.nameEng}">
                        <div class="card-body">
                            <h5 class="card-title" th:text="*{p.name}"></h5>
                            <h5 class="card-title" th:text="*{p.nameEng}"></h5>
                            <p class="card-text"><strong><span th:text="*{p.price}"></span> лв.</strong></p>
                            <div class="d-flex justify-content-center">
                                <input type="number" class="form-control quantity-input" value="1" min="1">
                                <button class="btn btn-primary ml-2">Добави в количката</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="main-courses" role="tabpanel" aria-labelledby="main-courses-tab">
            <div class="row mt-4">
                <div class="col-md-4" th:each="p: ${main}">
                    <div class="card menu-card">
                        <img th:src="*{p.imageUrl}" class="card-img-top" th:alt="*{p.nameEng}">
                        <div class="card-body">
                            <h5 class="card-title" th:text="*{p.name}"></h5>
                            <h5 class="card-title" th:text="*{p.nameEng}"></h5>
                            <p class="card-text"><strong><span th:text="*{p.price}"></span> лв.</strong></p>
                            <div class="d-flex justify-content-center">
                                <input type="number" class="form-control quantity-input" value="1" min="1">
                                <button class="btn btn-primary ml-2">Добави в количката</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="bread" role="tabpanel" aria-labelledby="bread-tab">
            <div class="row mt-4">
                <div class="col-md-4" th:each="p: ${bread}">
                    <div class="card">
                        <img th:src="*{p.imageUrl}" class="card-img-top" th:alt="*{p.nameEng}">
                        <div class="card-body">
                            <h5 class="card-title" th:text="*{p.name}"></h5>
                            <h5 class="card-title" th:text="*{p.nameEng}"></h5>
                            <p class="card-text"><strong><span th:text="*{p.price}"></span> лв.</strong></p>
                            <div class="d-flex justify-content-center">
                                <input type="number" class="form-control quantity-input" value="1" min="1">
                                <button class="btn btn-primary ml-2">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="desserts" role="tabpanel" aria-labelledby="desserts-tab">
            <div class="row mt-4">
                <div class="col-md-4" th:each="p: ${desserts}">
                    <div class="card menu-card">
                        <img th:src="*{p.imageUrl}" class="card-img-top" th:alt="*{p.nameEng}">
                        <div class="card-body">
                            <h5 class="card-title" th:text="*{p.name}"></h5>
                            <h5 class="card-title" th:text="*{p.nameEng}"></h5>
                            <p class="card-text"><strong><span th:text="*{p.price}"></span> лв.</strong></p>
                            <div class="d-flex justify-content-center">
                                <input type="number" class="form-control quantity-input" value="1" min="1">
                                <button class="btn btn-primary ml-2">Добави в количката</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>


