<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
    <meta charset="UTF-8">
    <title>История на поръчките</title>
</head>
<body>
<nav th:replace="~{fragments/commons :: navbar}"></nav>
<div class="container mt-4">
    <h1>История на поръчките</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Дата</th>
            <th>Адрес</th>
            <th>Цена</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${#temporals.format(order.time, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${order.address}"></td>
            <td th:text="${order.price}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/orders/{id}(id=${order.id})}">Детайли</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
