<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css">
    <title>Детайли за поръчка</title>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
</head>
<body>
<nav th:replace="~{fragments/commons :: navbar}"></nav>

<div class="container order-details">
    <h1 class="text-center">Детайли за поръчка</h1>

    <div class="client-details">
        <h3>Информация за клиента</h3>
        <p><strong>Име:</strong> <span th:text="${order.fullName}"></span></p>
        <p><strong>Адрес:</strong> <span th:text="${order.address}"></span></p>
        <p><strong>Час и дата на поръчката:</strong> <span th:text="${#temporals.format(order.time, 'dd.MM.yyyy HH:mm')}"></span></p>
    </div>

    <div class="order-summary">
        <h3>Поръчка</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Продукт</th>
                <th>Количество</th>
                <th>Цена</th>
                <th>Цена - общо</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${order.products}">
                <td th:text="${product.productName}"></td>
                <td th:text="${product.quantity}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.totalPrice}"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="3" class="text-right">Крайна цена</th>
                <th th:text="${order.price}"></th>
            </tr>
            </tfoot>
        </table>
    </div>

    <div class="text-center">
        <a class="btn btn-primary" id="order-history-btn" th:href="@{/orders/all}">Обратно към история на поръчките</a>
    </div>
</div>
<footer th:replace="~{fragments/commons :: footer}"></footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
