<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
<body>
<nav th:replace="~{fragments/commons :: navbar}"></nav>
<div class="error-container text-center">
    <h3 class="error-message">Поръчката е успешна!</h3>
    <img src="/images/delivery.jpg" alt="Order successful image" class="funny-image" width="450px">
    <h4 class="error-description">
        Храната ти ще пристигне максимално бързо - вкусна и топла!
    </h4>
    <a th:href="@{/orders/all}" class="btn btn-primary home-button">История на поръчките</a>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
