<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <title>История на поръчките</title>
</head>
<body>
<nav th:replace="~{fragments/commons :: navbar}"></nav>
<div class="container mt-4">
    <h1 class="text-center">История на поръчките</h1>
    <table class="table order-history-table">
        <thead>
        <tr>
            <th>Дата</th>
            <th>Адрес</th>
            <th>Цена</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${#temporals.format(order.time, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${order.address}"></td>
            <td th:text="${order.price}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/orders/{id}(id=${order.id})}">Детайли</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="~{fragments/commons :: footer}"></footer>
</body>
</html>
