<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css">
    <title>Успешна поръчка</title>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
</head>
<body>
<nav th:replace="~{fragments/commons :: navbar}"></nav>
<div class="text-center">
    <h3 class="order-message">Поръчката е успешна!</h3>
    <img src="/images/delivery.jpg" alt="Order successful image" class="funny-image order-image" width="450px">
    <h4 class="order-description">
        Храната ти ще пристигне максимално бързо - вкусна и топла!
    </h4>
    <a th:href="@{/orders/all}" class="btn btn-primary home-button order-hist-btn">История на поръчките</a>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
