<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <title>Механа "Наздраве" - Регистрация</title>
</head>
<body>
<nav th:replace="~{fragments/commons :: navbar}"></nav>
<div class="container mt-lg-5" style="width: 1200px">
    <h1 class="text-center">Регистрация</h1>
    <form th:action="@{/user/register}" th:object="${userRegisterDto}" method="post"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center registration-form">
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="username">Потребителско име</label>
                <input type="text" class="form-control" id="username" th:field="*{username}">
                <small th:if="${#fields.hasErrors('username')}"
                       th:errors="*{username}"
                       th:text="${#fields.errors('username')}"
                       class="danger"></small>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label for="firstName">Име</label>
                <input type="text" class="form-control" id="firstName" th:field="*{firstName}">
                <small th:if="${#fields.hasErrors('firstName')}"
                       th:errors="*{firstName}"
                       th:text="${#fields.errors('firstName')}"
                       class="danger"></small>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label for="lastName">Фамилия</label>
                <input type="text" class="form-control" id="lastName" th:field="*{lastName}">
                <small th:if="${#fields.hasErrors('lastName')}"
                       th:errors="*{lastName}"
                       th:text="${#fields.errors('lastName')}"
                       class="danger"></small>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" th:field="*{email}">
                <small th:if="${#fields.hasErrors('email')}"
                       th:errors="*{email}"
                       th:text="${#fields.errors('email')}"
                       class="danger"></small>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="phoneNumber">Телефон</label>
                <input type="text" class="form-control" id="phoneNumber" th:field="*{phoneNumber}">
                <small th:if="${#fields.hasErrors('phoneNumber')}"
                       th:errors="*{phoneNumber}"
                       th:text="${#fields.errors('phoneNumber')}"
                       class="danger"></small>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label for="address">Адрес</label>
                <input type="text" class="form-control" id="address" th:field="*{address}">
                <small th:if="${#fields.hasErrors('address')}"
                       th:errors="*{address}"
                       th:text="${#fields.errors('address')}"
                       class="danger"></small>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label for="password">Парола</label>
                <input type="password" class="form-control" id="password" th:field="*{password}">
                <small th:if="${#fields.hasErrors('password')}"
                       th:errors="*{password}"
                       th:text="${#fields.errors('password')}"
                       class="danger"></small>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label for="confirmPassword">Потвърдете паролата</label>
                <input type="password" class="form-control" id="confirmPassword" th:field="*{confirmPassword}">
                <small th:if="${#fields.hasErrors('confirmPassword')}"
                       th:errors="*{confirmPassword}"
                       th:text="${#fields.errors('confirmPassword')}"
                       class="danger"></small>
            </div>


        </div>

        <small th:if="${#fields.hasErrors('passwordMatching') && !#fields.hasErrors('confirmPassword')}"
               th:errors="*{passwordMatching}"
               th:text="${#fields.errors('passwordMatching')}"
               class="danger text-center pass-not-match font-weight-bold"></small>

        <button type="submit" class="btn btn-primary">Регистрация</button>
    </form>
</div>
<footer th:replace="~{fragments/commons :: footer}"></footer>
</body>
</html>
